{% extends 'base.html.twig' %}

{% block title %}DevCycle PHP Example!{% endblock %}

{% block body %}
   <div class="App">
        <div class="App-header">
            <p>Demo Application</p>
            <img height="46" src=" {{ asset('assets/img/devcycle-togglebot-full-colour.svg') }}" alt="DevCycle" />
        </div>

        <div class="App-wrapper">
           {% include 'partials/togglebot.html.twig' %}
            {% include 'partials/description.html.twig' %}
        </div>

        <p>Reload the page to view changes.</p>

        <a class="App-link" href="https://docs.devcycle.com/sdk/server-side-sdks/php/" target="_blank" rel="noopener noreferrer">
            DevCycle PHP SDK Docs
        </a>
    </div>

{% endblock %}  
  
  
  